.bulb {
  width: 120px;
  height: 160px;
  background: radial-gradient(circle at 30% 30%, #fffbd5, #bcbcbc);
  border-radius: 50% 50% 45% 45%;
  position: relative;
  box-shadow: 
    0 0 40px rgba(178, 178, 177, 0.9),
    inset -10px -10px 30px rgba(255, 180, 0, 0.3);
}
.on{
  width: 120px;
  height: 160px;
  background: radial-gradient(circle at 30% 30%, #fffbd5, #f5c542);
  border-radius: 50% 50% 45% 45%;
  position: relative;
  box-shadow: 
    0 0 40px rgba(255, 220, 100, 0.9),
    inset -10px -10px 30px rgba(255, 180, 0, 0.3);
}
